<!DOCTYPE html>
<html>
<head>
  <title>Explore Commodities</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link href="/static/css/chatbot.css" rel="stylesheet">
  <style>
    /* Add transition effects to all commodity cards */
    .commodity-card {
      transition: transform 0.4s ease, box-shadow 0.3s ease;
    }
    .commodity-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 10px rgba(54, 167, 10, 0.1);
    }
    body{
      background-color: rgba(143, 241, 98, 0.644);
    }
    /* Existing styles */
    h5 {
      text-align: center; 
      background-color: green; 
      color: white; 
      padding: 10px;
    }
    .card-content {
      min-height: 80px;
    }
  </style>
</head>
<body class="main">
  <div class="container">
    <h5><b>Explore by Commodity</b></h5>
    
    <!-- First Row -->
    <div class="row">
      <div class="col s3">
        <a href="/commodity/paddy" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/rice-bowl.png"></div>
              <div class="col s9"><span class="card-title">Paddy</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/wheat" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/wheat.png"></div>
              <div class="col s9"><span class="card-title">Wheat</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/barley" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/barley.png"></div>
              <div class="col s9"><span class="card-title">Barley</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/soyabean" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/soy.png"></div>
              <div class="col s9"><span class="card-title">Soya Bean</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <div class="col s3">
        <a href="/commodity/jowar" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/potato.png"></div>
              <div class="col s9"><span class="card-title">Jowar</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/copra" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/coconut.png"></div>
              <div class="col s9"><span class="card-title">Coconut</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/groundnut" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/peanuts.png"></div>
              <div class="col s9"><span class="card-title">Ground Nut Seeds</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/rape" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Mustard Seed</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Third Row -->
    <div class="row">
      <div class="col s3">
        <a href="/commodity/sesamum" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/sesame.png"></div>
              <div class="col s9"><span class="card-title">Gingelly Seed</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/gram" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Gram</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/sugarcane" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/bamboo.png"></div>
              <div class="col s9"><span class="card-title">Sugarcane</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/arhar" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Arhar</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Fourth Row -->
    <div class="row">
      <div class="col s3">
        <a href="/commodity/ragi" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/office/48/000000/wheat.png"></div>
              <div class="col s9"><span class="card-title">Ragi</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/maize" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/corn.png"></div>
              <div class="col s9"><span class="card-title">Maize</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/moong" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Moong</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/masoor" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Masoor</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Fifth Row -->
    <div class="row">
      <div class="col s3">
        <a href="/commodity/urad" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Urad</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/jute" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/potato.png"></div>
              <div class="col s9"><span class="card-title">Raw Jute</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/niger" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Niger Seed</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="/commodity/safflower" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/paper-bag-with-seeds.png"></div>
              <div class="col s9"><span class="card-title">Kardi Seed</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- Sixth Row -->
    <div class="row">
      <div class="col s3">
        <a href="/commodity/sunflower" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/potato.png"></div>
              <div class="col s9"><span class="card-title">Sunflower</span></div>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="col s3">
        <a href="/commodity/jowar" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/potato.png"></div>
              <div class="col s9"><span class="card-title">Jowar</span></div>
            </div>
          </div>
        </a>
      </div> -->
      <div class="col s3">
        <a href="/commodity/bajra" style="color: #000000">
          <div class="card grey lighten-4 commodity-card">
            <div class="card-content row valign-wrapper">
              <div class="col s3"><img src="https://img.icons8.com/color/48/000000/potato.png"></div>
              <div class="col s9"><span class="card-title">Bajra</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/static/js/chatbot.js"></script>
  
  {% include 'chatbot.html' %}
</body>
</html>